/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* regole header */
header {
    background-color: #d32f2f;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100vh;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* regole from */
form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
}

/* regole per il label e l'input */