/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* regole header */
header {
    background-color: #d32f2f;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100vh;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* regole from */
form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    margin: 30px auto;
}

/* regole per il label e l'input */
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* regole bottone */ 
button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* regole sezione output */
p {
    min-width: 500px;
    margin: 10px auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

p strong {
    display: block;
    margin-bottom: 5px;
    color: #943333;
}